<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFR STA</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../static/images/Logo_STA.png">
</head>
<body>
    <div class="uam">
        <img src="../static/images/logo_UAM.png" alt="Logo UAM" class="logo_uam">
        <div class="nom_uam">UNIVERSITE <br> AMADOU MAHTAR MBOW</div>

        <a href="https://uam.sn" target="_blank">
            <span>Site officiel</span>
            <span class="icon">↗</span>
        </a>
    </div>

    <header>
        <div class="logo-titre">
            <img src="../static/images/Logo_STA.png" alt="Logo UFR STA" class="logo">
            <h1>UFR <br> SCIENCES ET<br> TECHNOLOGIES AVANCEES</h1>
            <div class="menu-defilant">
                &#9776;
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="actualites.html">Actualités</a></li>
                <li><a href="activites.html">Activités</a></li>
                <li><a href="departements.html">Départements</a></li>
                <li><a href="formations.html">Formations</a></li>
                <li><a href="galerie.html">Galerie</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="departements-section">


    <div class="titre-directeur">
        <i class="fas fa-university"></i>

        <div>
            <h2>Nos Départements</h2>
            <div class="trait"></div>
        </div>
    </div>


    <p class="section-description">
        <strong>L'UFR STA</strong> place le curseur sur <strong> des formations innovantes dans le domaine des STEMS,</strong> conformément aux recommandations de <strong>la Concertation Nationale sur l'Avenir de l'Enseignement Supérieur (CNAES)</strong>. Elle développe un
        modèle pédagogique intégré qui <strong>aligne« Formation professionnelle » et « Formation par la Recherche ». </strong> <br>
        <strong>L'UFR Sciences et Technologies Avancées (STA) est composée de deux départements.</strong>
    </p>

    <div class="departement-card">

        <div class="departement-content">
                <div class="departement-image-container">
                <img src="../static/images/mim.jpg" alt="Département Images" class="departement-image">
                    </div>
            <div class="departement-text">

                <h3>Département Mathématiques, Informatique et Modélisation</h3>

                <p>
                    Ce département a pour objectif de permettre aux étudiants d’acquérir <strong>des connaissances fondamentales,
                    de développer des compétences analytiques et de résolution de problèmes, d’explorer les intersections
                    interdisciplinaires et de préparer aux spécialisations et à la recherche scientifique.</strong>
                </p>

                <h4>Filières proposées</h4>

                <div class="filieres">
                    <span>Mathématiques, Physique et Informatique (MPI)</span>
                    <span>Mathématiques et Informatique Appliquées aux Sciences Sociales (MIASS)</span>
                </div>

            </div>

        <div class="responsable-filiere">

    <img src="../static/images/cdmim.jpg" alt="Responsable">

    <div class="responsable-details">
        <span>Chef de département</span>
        <h5>Dr. Thierno M. M. SOW</h5>
        <p>
            <i class="fas fa-envelope"></i>
            chefdepartement-mim@uam.edu.sn
        </p>

    </div>

</div>
    <a href="formations.html" class="btn-formation">
        En savoir plus
    </a>
        </div>


    </div>

</section>

<section class="departements-section">

    <div class="departement-card">

        <div class="departement-content">

                <div class="departement-image-container">
                <img src="../static/images/smu.jpg" alt="Département Images" class="departement-image">
                    </div>
            <div class="departement-text">

                <h3>Département des Sciences de la Matière et de l'Univers</h3>

                <p>
                    Ce département propose des <strong>formations innovantesdans les domaines de la mer, de la physique et de ses applications.</strong>
                    Elle offre aux étudiants la possibilité d’acquérir <strong>une formation qui leur permette
                    d’accéder au plus haut niveau des connaissances académiques tant en recherche que dans le domaine
                    professionnel. </strong></p>
                <h4>Filières proposées</h4>

                <div class="filieres">
                    <span>Sciences de la Mer et du Littoral (SML)</span>
                    <span>Physique et Applications (PA)</span>
                </div>

            </div>

        <div class="responsable-filiere">

    <img src="../static/images/cdsmu.jpg" alt="Responsable">

    <div class="responsable-details">
        <span>Chef de département</span>
        <h5>Dr. Makha NDAO</h5>
        <p>
            <i class="fas fa-envelope"></i>
            makhandao@uam.edu.sn
        </p>
    </div>
</div>
    <a href="formations.html" class="btn-formation">
        En savoir plus
    </a>

        </div>

    </div>

</section>

    </main>


    <footer class="footer">

    <div class="footer-top">

        <img src="../static/images/Logo_STA.png" alt="Logo STA" class="footer-logo">

        <h2>UFR Sciences et Technologies Avancées</h2>

        <p>
            Excellence, innovation et recherche au service des sciences et des technologies.
        </p>

    </div>

    <div class="footer-section">

        <h3>Liens utiles</h3>

        <ul>
            <li><a href="https://uam.sn" target="_blank">➜Université Amadou Mahtar Mbow</a></li>
            <li><a href="https://www.bing.com/ck/a?!&&p=2dbeb84a68d98038bc6bf6595f5aa27991a50eb6daffc42e568f7b695ca087cfJmltdHM9MTc4MjE3MjgwMA&ptn=3&ver=2&hsh=4&fclid=1225f51b-5d41-671e-299a-e2355c8f6667&u=a1aHR0cHM6Ly93d3cuYmluZy5jb20vYWxpbmsvbGluaz91cmw9aHR0cHMlM2ElMmYlMmZkaXJlY3Rpb25kZXNib3Vyc2VzLnNuJTJmJnNvdXJjZT1zZXJwLWxvY2FsJmg9c1lVb3BoeUE0JTJmT3lZU3ZUVURXSEkyQTJQdVY1WSUyYmVIVjJGVUlOdkhHb2clM2QmcD1sd19tYWdzbWx0JmlnPTdFMkZGNDBBQkY3QTQwQ0M4MTQ4NjBGRUU0MDIxNzkzJnlwaWQ9WU44MTY4eDE3Nzg0NjU3OTEwNzQ2NDU2MDk3">➜ Direction des bourses</a></li>
            <li><a href="https://www.crousuam.sn/" target="_blank">➜ Crous Diamniadio</a></li>
            <li><a href="https://mesrisenegal.sn/" target="_blank">➜ Ministère de l'Enseignement supérieur, de la Recherche et de l'Innovation</a></li>
        </ul>

    </div>

    <div class="footer-section">

        <h3>Contact</h3>

        <p><i class="fas fa-map-marker-alt"></i> Université Amadou Mahtar Mbow</p>
        <p><i class="fas fa-envelope"></i> ufr-sta@uam.edu.sn</p>
    </div>

    <div class="socials">

                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </div>

    <div class="footer-bottom">
        © 2026 UFR Sciences et Technologies Avancées
    </div>

</footer>
<script src="../static/js/script.js"></script>
</body>
</html>
