<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFR STA</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../static/images/Logo_STA.png">
</head>
<body>
    <div class="uam">
        <img src="../static/images/logo_UAM.png" alt="Logo UAM" class="logo_uam">
        <div class="nom_uam">UNIVERSITE <br> AMADOU MAHTAR MBOW</div>

        <a href="https://uam.sn" target="_blank">
            <span>Site officiel</span>
            <span class="icon">↗</span>
        </a>
    </div>

    <header>
        <div class="logo-titre">
            <img src="../static/images/Logo_STA.png" alt="Logo UFR STA" class="logo">
            <h1>UFR <br> SCIENCES ET<br> TECHNOLOGIES AVANCEES</h1>
            <div class="menu-defilant">
                &#9776;
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="actualites.html">Actualités</a></li>
                <li><a href="activites.html">Activités</a></li>
                <li><a href="departements.html">Départements</a></li>
                <li><a href="#" class="active">Formations</a></li>
                <li><a href="galerie.html">Galerie</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>

    <section class="banner">
        <div class="banner-content">
            <h1>Sciences et Technologies Appliquées (STA)</h1>
            <p>
                Découvrez les différentes formations proposées par l'UFR ainsi que
                les filières qui correspondent à votre projet professionnel.
            </p>
        </div>
    </section>

    <section class="presentation">
        <h2>Présentation des formations</h2>

        <p>
            Le parcours STA offre une formation scientifique solide permettant
            d'acquérir des compétences en mathématiques, informatique,
            physique et sciences de la mer.
        </p>
    </section>

    <section class="why">
        <h2>Pourquoi choisir la STA ?</h2>

            <article class="card">
                <span class="icon">🎓</span>
                <h3>Formation de qualité</h3>
                <p>Des enseignements assurés par des enseignants-chercheurs qualifiés.</p>
        </article>

        <article class="card">
            <span class="icon">💼</span>
            <h3>Insertion professionnelle</h3>
            <p>Des formations adaptées aux besoins du marché de l'emploi.</p>
        </article>

        <article class="card">
            <span class="icon">🔬</span>
            <h3>Recherche</h3>
            <p>Une ouverture vers les laboratoires et la recherche scientifique.</p>
        </article>
            </section>

    <section class="departement">

        <h2>Département Mathématiques Informatique et Modélisation (MIM)</h2>

        <article class="formation">

            <div class="formation-info">

                <div class="formation-image">
                    <img src="../static/images/mpi.jpg" alt="">
                </div>

                <div class="formation-text">

                    <h3>Mathématiques, Physique et Informatique (MPI)</h3>

                    <p>
                    Cette filière a pour objectif de permettre aux étudiants d’acquérir des connaissances fondamentales,
                    de développer des compétences analytiques et de résolution de problèmes, d’explorer les intersections
                    interdisciplinaires et de préparer aux spécialisations et à la recherche scientifique.
                    </p>

                </div>

            </div>

            <div class="maquette">
                <h3>Maquette du programme MPI SEMESTRE 1</h3>
                <img src="../static/images/mpis1.png" alt="maquette s1 mpi" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme MPI SEMESTRE 2</h3>
                <img src="../static/images/mpis2.png" alt="maquette s2 mpi" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme MPI SEMESTRE 3</h3>
                <img src="../static/images/mpis3.png" alt="maquette s3 mpi" class="maquette-image">

            </div>



            <div class="semestre">

                <h3>Semestre 4</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Mathématiques</td>

                            <td>
                                Analyse 4<br>
                                Algèbre 4 <br>
                                Probabilités
                            </td>

                            <td>9</td>

                        </tr>

                        <tr>

                            <td>Physique</td>

                            <td>
                                Mécanique Quantique<br>
                                Électro-Relativité
                            </td>

                            <td>8</td>

                        </tr>

                        <tr>

                            <td>Informatique</td>

                            <td>
                                Système d'Exploitation<br>
                                Algorithmes Avancés <br>
                                Datascience et IA
                            </td>

                            <td>8</td>

                        </tr>

                        <tr>

                            <td>Analyse du Signal</td>

                            <td>
                                Outils Mathématiques pour le Signal<br>
                                Traitement du Signal et Image
                            </td>

                            <td>3</td>

                        </tr>

                        <tr>

                            <td>Outils de Bases</td>

                            <td>
                                Anglais 4<br>
                                Projet Personnel
                            </td>

                            <td>2</td>

                        </tr>

                    </tbody>

                </table>

            </div>


        </article>
        <h4>
            A partir de la Licence 3, un choix de spécialisation s'impose pour la filière MPI.
                            Les étudiants peuvent choisir entre les spécialisations suivantes : <br>
                            Mathématiques et Modélisation(MM), <br>
                            Informatique Appliquée(IA), <br>
                            Physique et Applications(PA) qui migre vers le département SMU.

                        </h4>

        <section class="specialisation">

            <article class="formation">

                <div class="formation-info">


                    <div class="formation-image">
                        <img src="../static/images/mm.jpg" alt="maths image">
                    </div>

                    <div class="formation-text">

                        <h3>Mathématiques et Modélisation</h3>

                        <p>
                            La filière Mathématiques et Modélisation (MM) forme des étudiants à l'analyse, à la modélisation et à la résolution de problèmes complexes. Elle prépare aux métiers de la modélisation mathématique, de la recherche, de la finance,
                            de la science des données, de l'optimisation et de la simulation numérique.
                        </p>

                    </div>

                </div>

                <div class="semestre">

                <h3>Semestre 5</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Mathématiques 5.1</td>

                            <td>
                                Analyse 5<br>
                                Variables Complexes<br>
                                Statistique Inférentielle
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Mathématiques 5.2</td>

                            <td>
                                Solveurs Numériques 1 (EDO)<br>
                                Recherche Opérationnelle <br>
                                Mesure et Intégration
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 5</td>

                            <td>
                                Bases de Données et Visualisation<br>
                                Calculs Intensifs<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Humanités</td>

                            <td>
                                Anglais Technique<br>
                                Leadership et Développement Personnel <br>
                                Techniques de Rédaction Scientifique
                            </td>

                            <td>-</td>

                        </tr>

                    </tbody>

                </table>

            </div>

                <div class="semestre">

                <h3>Semestre 6</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Mathématiques 6.1</td>

                            <td>
                                Introduction aux EDP<br>
                                Optimisation non linéaire<br>
                                Calcul Différentiel
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Mathématiques 6.2</td>

                            <td>
                                Solveurs Numériques 2<br>
                                Modélisation des Données <br>
                                Introduction au Calcul Parallèle
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 6</td>

                            <td>
                                IoT et IA<br>
                                Outils Informatiques<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Projet de Fin d'Études</td>

                            <td>
                                Projets Tutorés
                            </td>

                            <td>-</td>
                        </tr>

                    </tbody>

                </table>

            </div>



            </article>

            <article class="formation">

                <div class="formation-info">

                    <div class="formation-image">
                        <img src="../static/images/ia.jpg" alt="info img">
                    </div>

                    <div class="formation-text">

                        <h3>Informatique Appliquée</h3>

                        <p>
                            La filière Informatique Appliquée (IA) forme des spécialistes capables de concevoir, développer et administrer des solutions informatiques répondant aux besoins des entreprises et des organisations. Elle prépare aux métiers du développement logiciel, des bases de données, des réseaux,
                            de la cybersécurité, de l’intelligence artificielle et de la science des données.
                        </p>

                    </div>

                </div>

                <div class="semestre">

                <h3>Semestre 5</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Informatique 5.2</td>

                            <td>
                                Programmation Java Avancée<br>
                                Programmation Data Science<br>
                                Programmation Web
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 5.3</td>

                            <td>
                                Internet des Objets (IoT)<br>
                                Introduction aux Réseaux
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 5.4</td>

                            <td>
                                Génie Logiciel<br>
                                SI et Modélisation UML<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Mathématiques 5.1</td>

                            <td>
                                Analyse de données<br>
                                Recherche Opérationnelle <br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Humanités</td>

                            <td>
                                Anglais Technique<br>
                                Leadership et Développement Personnel <br>
                                Techniques de Rédaction Scientifique
                            </td>

                            <td>-</td>

                        </tr>

                    </tbody>

                </table>

            </div>

                <div class="semestre">

                <h3>Semestre 6</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Informatique 6.1</td>

                            <td>
                                Introduction aux Routage<br>
                                Sécurité du Système Informatique et Réseaux<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 6.2</td>

                            <td>
                                Virtualisation/Cloud<br>
                                Services Réseaux
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 6.3</td>

                            <td>
                                Développement d'applications mobiles<br>
                                JavaScript et Framework<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Informatique 6.4</td>

                            <td>
                                Big Data<br>
                                Deep Learning<br>
                            </td>

                            <td>8</td>

                        </tr>

                        <tr>

                            <td>Projets de Fin d'Études</td>

                            <td>
                                Projets Tutorés
                            </td>

                            <td>-</td>

                        </tr>

                    </tbody>

                </table>

            </div>

            </article>

        </section>

        <article class="formation">

            <div class="formation-info">

                <div class="formation-image">
                    <img src="../static/images/miass.jpg" alt="">
                </div>

                <div class="formation-text">

                    <h3>Mathématiques et Informatique Appliqués aux Sciences Sociales (MIASS)</h3>

                    <p>
                        Cette filière forme des professionnels capables de travailler dans les compagnies
                        d’assurances, les cabinets d’études de prévision et de conseil, le commerce, le marketing, le management
                        des projets, le management des entreprises, la finance, la gestion, la comptabilité, la gestion industrielle, la
                        logistique et la qualité, l’enseignement et la recherche.
                    </p>

                </div>

            </div>
                <div class="maquette">
                <h3>Maquette du programme MIASS SEMESTRE 1</h3>
                <img src="../static/images/miasss1.png" alt="maquette s1 miass" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme MIASS SEMESTRE 2</h3>
                <img src="../static/images/miasss2.png" alt="maquette s2 miass" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme MIASS SEMESTRE 3</h3>
                <img src="../static/images/miasss3.png" alt="maquette s3 miass" class="maquette-image">

            </div>

        </article>



    </section>


    <section class="departement">

        <h2>Département Sciences de la Matière et de l'Univers (SMU)</h2>


        <article class="formation">

            <div class="formation-info">

                <div class="formation-image">
                    <img src="../static/images/sml.jpg" alt="">
                </div>

                <div class="formation-text">

                    <h3>Sciences de la Mer et du Littoral (SML)</h3>

                    <p>
                        Cette filière forme des spécialistes de la gestion et de l’aménagement des espaces côtiers et maritimes,
                        avec des compétences en génie côtier, génie portuaire, ressources marines et économie bleue.
                    </p>

                </div>

            </div>

            <div class="maquette">
                <h3>Maquette du programme SML SEMESTRE 1</h3>
                <img src="../static/images/smls1.png" alt="maquette s1 sml" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme SML SEMESTRE 2</h3>
                <img src="../static/images/smls2.png" alt="maquette s2 sml" class="maquette-image">

            </div>

            <div class="maquette">
                <h3>Maquette du programme SML SEMESTRE 3</h3>
                <img src="../static/images/smls3.png" alt="maquette s3 sml" class="maquette-image">

            </div>

        </article>

        <article class="formation">

            <div class="formation-info">

                <div class="formation-image">
                    <img src="../static/images/pa.jpg" alt="physique img">
                </div>

                <div class="formation-text">

                    <h3>Physique et Applications</h3>

                    <p>
                        La filière Physique et Applications (PA) forme des étudiants aux métiers de la physique et de ses applications. Le tronc commun (S1 à S4) est partagé avec la filière MPI, puis, à partir du S5, la formation est assurée par le département Sciences de la Matière et de l’Univers (SMU).
                        <br>
                        Elle prépare des compétences répondant aux besoins du développement durable, notamment dans les domaines des matériaux, des énergies, de l’eau et du spatial.
                    </p>

                </div>

            </div>

            <div class="semestre">

                <h3>Semestre 5</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Physique 5.2</td>

                            <td>
                                Physique Quantique 1<br>
                                Electromgnétisme<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Mathématiques 5</td>

                            <td>
                                Mathématiques pour la Physique<br>
                                Méthode Numérique 1<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Chimie Générale</td>

                            <td>
                                Atomistique et Liaisons chimiques <br>
                                Thermochimie <br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Humanités</td>

                            <td>
                                Anglais Technique<br>
                                Leadership et Développement Personnel <br>
                                Techniques de Rédaction Scientifique
                            </td>

                            <td>-</td>

                        </tr>

                    </tbody>

                </table>

            </div>

                <div class="semestre">

                <h3>Semestre 6</h3>

                <table>

                    <thead>

                        <tr>
                            <th>UE</th>
                            <th>EC</th>
                            <th>Crédits</th>
                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Physique 6.1</td>

                            <td>
                                Mécanique des Fluides<br>
                                Mécaniques des milieux continus<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Physique 6.2</td>

                            <td>
                                Optique Physique<br>
                                Optique Cristalline
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Chimie de la matière</td>

                            <td>
                                Chimie inorganique<br>
                                Chimie organique<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Mathématiques 6</td>

                            <td>
                                Mathématiques pour la Physique 2<br>
                                Méthode Numérique 2<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Electronique</td>

                            <td>
                                Electronique Analogique<br>
                                Electronique Numérique<br>
                            </td>

                            <td>-</td>

                        </tr>

                        <tr>

                            <td>Projets de Fin de Cycle</td>

                            <td>
                                Projet
                            </td>

                            <td>-</td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </article>

    </section>

    <section class="debouches">

    <h2>Débouchés professionnels</h2>

    <div class="cards">

        <article class="card">
            <span class="icon">📐</span>
            <h3>Mathématiques et Modélisation</h3>
            <p>
                Recherche, enseignement, finance, actuariat, modélisation, optimisation, statistiques et aide à la décision.
            </p>
        </article>

        <article class="card">
            <span class="icon">⚛️</span>
            <h3>Physique et Applications</h3>
            <p>
                Recherche et développement, énergie, matériaux, industrie, eau, spatial, instrumentation et ingénierie.
            </p>
        </article>

        <article class="card">
            <span class="icon">💻</span>
            <h3>Informatique Appliquée</h3>
            <p>
                Développement logiciel, intelligence artificielle, cybersécurité, réseaux, cloud, IoT, data science et administration systèmes.
            </p>
        </article>

        <article class="card">
            <span class="icon">🌊</span>
            <h3>Sciences de la Mer et du Littoral</h3>
            <p>
                Environnement marin, aquaculture, pêche, génie maritime, gestion du littoral, ONG et organismes publics.
            </p>
        </article>

        <article class="card">
            <span class="icon">📊</span>
            <h3>Mathématiques et Informatique Appliquées aux Sciences Sociales</h3>
            <p>
                Analyse de données, économie, finance, statistique, aide à la décision, administrations, banques et cabinets d'études.
            </p>
        </article>

    </div>

</section>

    <section class="prerequis">

        <h2>Prérequis</h2>

        <ul>

            <li> <strong>Mathématiques, Physique et Informatique (MPI) :</strong>   S1, S1A, S2, S2A, S3 et S4 </li>

            <li> <strong>Sciences de la Mer et du Littoral (SML) :</strong> S1, S1A, S2, S2A, S3 et S4 </li>

            <li> <strong>Mathématiques Appliquées aux Sciences Sociales (MASS) :</strong> S1, S1A, S2, S2A, S3, S4 et STEG</li>

        </ul>

    </section>

    <section class="prerequis">

        <h2>Les Potentielles Formations en Master</h2>

        <p>Le cycle de Master, qui privilégie le modèle de Master inter-universitaire, sera ouvert avec des filières
            innovantes (Master professionnel et/ou professionnalisant et Master Recherche).</p>

        <ul>

            <li> <strong>• Analyse numérique et modélisation ;</strong></li>
            <li> <strong>• Big data, Internet des Objets et Intelligence artificielle ;</strong></li>
            <li> <strong>• Cyber Security ;</strong></li>
            <li> <strong>• Sciences et Technologies spatiales ;</strong></li>
            <li> <strong>• Génie côtier ;</strong></li>
            <li> <strong>• Génie Côtier, Génie maritime et portuaire ;</strong></li>
            <li> <strong>• Technologie marine ;</strong></li>
            <li> <strong>• Méthodes de réalisations des ouvrages marines ;</strong></li>
            <li> <strong>• Géophysique marine et explorations ;</strong></li>
            <li> <strong>• Modélisation des Océans et du Climat ;</strong></li>
            <li> <strong>• Economie Bleue ;</strong></li>
            <li> <strong>• Transition énergétique et développement durable ;</strong></li>
            <li> <strong>• Robotique ;</strong></li>
            <li> <strong>• Nanotechnologie – Nanoscience ;</strong></li>
            <li> <strong>• Physique Nucléaire et Applications ;</strong></li>
            <li> <strong>• Physique des Matériaux et des fluides ;</strong></li>
            <li> <strong>• Génétique moléculaire ;</strong></li>
            <li> <strong>• Bio-informatique ;</strong></li>
            <li> <strong>• Ecologie halieutique ;</strong></li>
            <li><strong>Etc.</strong></li>

            </ul>

    </section>



    <section class="why-end">

        <h2>Pourquoi choisir STA ?</h2>

        <p>
            Une formation scientifique complète ouvrant la voie aux études
            supérieures et à de nombreux métiers scientifiques.
        </p>

    </section>


    <section class="contact">

        <h2>Contact</h2>

        <p>
            Pour toute information complémentaire, contactez le secrétariat
            de l'UFR STA.
        </p>

        <a href="contact.html" class="btn-contact">
            Nous contacter
        </a>

    </section>

</main>

    <footer class="footer">

    <div class="footer-top">

        <img src="../static/images/Logo_STA.png" alt="Logo STA" class="footer-logo">

        <h2>UFR Sciences et Technologies Avancées</h2>

        <p>
            Excellence, innovation et recherche au service des sciences et des technologies.
        </p>

    </div>

    <div class="footer-section">

        <h3>Liens utiles</h3>

        <ul>
            <li><a href="https://uam.sn" target="_blank">➜Université Amadou Mahtar Mbow</a></li>
            <li><a href="https://www.bing.com/ck/a?!&&p=2dbeb84a68d98038bc6bf6595f5aa27991a50eb6daffc42e568f7b695ca087cfJmltdHM9MTc4MjE3MjgwMA&ptn=3&ver=2&hsh=4&fclid=1225f51b-5d41-671e-299a-e2355c8f6667&u=a1aHR0cHM6Ly93d3cuYmluZy5jb20vYWxpbmsvbGluaz91cmw9aHR0cHMlM2ElMmYlMmZkaXJlY3Rpb25kZXNib3Vyc2VzLnNuJTJmJnNvdXJjZT1zZXJwLWxvY2FsJmg9c1lVb3BoeUE0JTJmT3lZU3ZUVURXSEkyQTJQdVY1WSUyYmVIVjJGVUlOdkhHb2clM2QmcD1sd19tYWdzbWx0JmlnPTdFMkZGNDBBQkY3QTQwQ0M4MTQ4NjBGRUU0MDIxNzkzJnlwaWQ9WU44MTY4eDE3Nzg0NjU3OTEwNzQ2NDU2MDk3">➜ Direction des bourses</a></li>
            <li><a href="https://www.crousuam.sn/" target="_blank">➜ Crous Diamniadio</a></li>
            <li><a href="https://mesrisenegal.sn/" target="_blank">➜ Ministère de l'Enseignement supérieur, de la Recherche et de l'Innovation</a></li>
        </ul>

    </div>

    <div class="footer-section">

        <h3>Contact</h3>

        <p><i class="fas fa-map-marker-alt"></i> Université Amadou Mahtar Mbow</p>
        <p><i class="fas fa-envelope"></i> ufr-sta@uam.edu.sn</p>
    </div>

    <div class="socials">

                <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            </div>

    <div class="footer-bottom">
        © 2026 UFR Sciences et Technologies Avancées
    </div>

</footer>
<script src="../static/js/script.js"></script>
</body>
</html>
